version: "3.9"

services:
  bot:
    image: juiim/discord-bot-recom:main
    container_name: discord-bot
    restart: unless-stopped

    env_file:
      - .env

    # Opcional, mas recomendado
    stop_grace_period: 30s

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"